<div class="wrapper">
  <h1 class="text-primary text-center mb-4">My Heroes</h1>

  <div class="row">
    <h4 class="text-primary my-4">Add Hero</h4>
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Enter hero name...">
      <button class="btn btn-outline-primary" type="submit">Add</button>
    </form>
  </div>
  <section>
    <h4 class="text-primary my-4">Hero List</h4>
    <div class="col-md-4 col-12">
      <div class="card my-2" *ngFor="let hero of heroList" (click)="onHeroClick(hero.id)">
        <div class="row g-0">
          <div class="col-2 d-flex align-items-center justify-content-center card-head">
            <h5 class="m-0 text-white">{{hero.id}}</h5>
          </div>
          <div class="col-10">
            <div class="card-body d-flex justify-content-between align-items-center">
              <p class="card-text m-0">{{hero.name}}</p>
              <button class="btn btn-primary" (click)="onDelete(hero.id)">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-message></app-message>
</div>