<div class="wrapper">
  <h1 class="text-primary text-center mb-4">Top Heroes</h1>
  <div class="row">
    <div class="col-md-3 col-12" *ngFor="let item of displayList">
      <button class="btn btn-secondary btn-lg w-100 my-1">{{item.name}}</button>
    </div>
  </div>
  <h4 class="text-primary my-4">Hero Search</h4>
  <div class="row">
    <!-- <form class="col-md-4 col-12"> -->
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="keyWord">
      <!-- <button class="btn btn-outline-primary" type="submit">Search</button> -->
      <ul class="search-list list-group" *ngIf="searchList.length > 0">
        <li class="list-group-item" *ngFor="let item of searchList">
          <a href="#">{{item.name}}</a>
        </li>
      </ul>
    <!-- </form> -->
  </div>
</div>